body{
    background-image: url(./it_woman.jpg);
    background-position: center;
    height: 1080px;
    background-size: cover;
    position: relative;
}
.udvozlo{
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px #000000;
}
table, th, td{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid;
    color: white;
    background-color: rgba(39, 128, 124, 0.3);
    text-shadow: 2px 2px #000000;
}
th{
    font-size: x-large;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}