body{
    background-image: url(./vanyek-bg.jpg);
    background-position: center;
    height: 2000px;
}

p, h1{
    text-align: center;
    font-style: oblique;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.19);
    color: white;
}

img{
    max-width:  100%;
    height: auto;
}

div{
    margin: auto;
    width: 50%;
    padding: 10px;
}

div.kep{
    width: 20%;
    background-color: rgb(99, 129, 138);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
    font-weight: 30px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

table{
    background-color: rgba(99, 129, 138, 0.5);
}